@model RoleCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" asp-controller="Role" method="post" class="p-3 mx-auto shadow">
    <div class="mb-3">
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
        <label>Rol Adı</label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Kaydet</button>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly">

    </div>
</form>