@model UserSignInModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="SignIn" asp-controller="Home" method="post" class="p-3 mx-auto shadow">
    <input type="hidden" asp-for="@Model.ReturnUrl" />
    <div class="mb-3">
        <span class="text-danger" asp-validation-for="@Model.Username"></span>
        <label>Kullanıcı Adı</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="mb-3">
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
        <label>Şifre</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox"  asp-for="@Model.RememberMe">
        <label class="form-check-label" for="RememberMe">
            Beni Hatırla
        </label>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Giriş</button>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly">

    </div>
</form>